*{
    padding: 0;
    margin: 0;
}
.container{
    display: grid;
    grid-template-areas:
     "header header"
     "info template"
     "footer footer";
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
}

header{
  grid-area: header;
  background: #333;
  color: white;
  padding: 20px;
  
}

a {
  color: inherit;
  text-decoration: none;
}

.itens-inicio {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 20px;
  padding: 0;
  margin: 0;
}

.info {
  grid-area: info;
  background: #f4f4f4;
  padding: 20px;
}

.template {
  grid-area: template;
  background: #eaeaea;
  padding: 20px;
}

footer {
  grid-area: footer;
  background: #333;
  color: white;
  padding: 20px;
  text-align: center;
}

.container-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  padding: 10px;
    
}

/* asides e cards página inicial */

.titulo{
  font-size: 2em;
}

.card-descricao-depressao > *, 
.card-descricao-ansiedade > *,
.descricao-site > * {
  padding-bottom: 15px;
}

.template-depressao,
.template-ansiedade {
  background: #eaeaea;
  padding: 20px;

}

.container-minicard-depressao,
.container-minicard-ansiedade {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 800px;
  gap: 15px;
  padding-top: 10px;
}

.minicard-sintomas-depressao,
.minicard-sintomas-ansiedade {
  background: #949292;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 8px;
  overflow: hidden;
}

.img-minicard-sintomas-depressao,
.img-minicard-sintomas-ansiedade {
  width: 100%;
  height: 60%; 
  object-fit: cover;
  border-radius: 4px;
}

/* Tabela da página inicial */

.tabela {
  display: inline-block;
  background-color: aqua;
  padding: 10px;
  border-radius: 15px;

}

.titulo-tabela {
  padding-bottom: 25px;
  text-align: center;
}


table {
  border-collapse: collapse;
}

table th, table td {
  border-bottom: 1px solid;
  padding: 5px 23px 5px 23px;
}